@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img {
    padding-left: 150px;
    padding-top: 40px;
}

body{
    background-color: #013243;
}

main h1 {
    color: #32f5c8;
    font-size: 180px;
    font-weight: 700;
    padding-left: 150px;
    padding-top: 50px;
    font-family: 'Sen', sans-serif;

}

main p {
    color:#a9bdc6;
    padding-left: 150px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

main button {
    margin-left: 150px;
    padding: 20px 40px;
    background-color:#32f5c8;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}


.images {
    position: absolute;
}

#image1 {
    top: 120px;
    left: 55px;
    z-index: -10;
}

#image3 {
    top: 267px;
    left: 1098px;
    z-index: -3;
}

#image2 {
    top: 620px;
    left: 870px
}

#image4 {
    top: 207px;
    left: 1259px;
}