@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img {
    padding:  40px;
}

body{
    background-color: #013243;
}

main h1 {
    color: #32f5c8;
    font-size: 150px;
    padding: 40px;
    font-weight: 700;
    font-family: 'Sen', sans-serif;

}

main p {
    color:#a9bdc6;
    padding: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

main button {
    margin: 40px;
    padding: 20px 40px;
    background-color:#32f5c8;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}