@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img {
    padding-left: 150px;
    padding-top: 40px;
}

body{
    background-color: #013243;
}

main h1 {
    color: #32f5c8;
    font-size: 180px;
    font-weight: 700;
    padding-left: 150px;
    padding-top: 50px;
    font-family: 'Sen', sans-serif;

}

h1 span {
    position: absolute;
    z-index: 2;
}
main p {
    color:#a9bdc6;
    padding-left: 150px;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

main button {
    margin-left: 150px;
    padding: 20px 40px;
    background-color:#32f5c8;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Inter', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color:#c9ffec;
}

.images {
    position: absolute;
    z-index: -1;
}

#image1 {
    top: 120px;
    left: 55px;

}

#image3 {
    top: 108px;
    left: 1076px;
}

#image2 {
    top: 475px;
    left: 840px;
    z-index: 1;
}

#image4 {
    top: 53px;
    left: 1259px;
}

#image5 {
    top: 475px;
    left: 1340px
}

#image6 {
    top: 620px;
    left: 1112px;  
}



footer {
    display: flex;
}

footer img {
    padding-left: 150px;
    padding-top: 80px;
}

footer p {
    margin-top: 93px;
    margin-left: 7px;
    color: #a9bdc6;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}